/* 
Azul: #1f3d64
Verde: #bbc446 
Azul-verde: #448454
*/

@media print {
    @page {
      size: a3;
    }
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #1f3d64;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #2a4c79;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}